body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #fffaf0;
    width: 1900px;
}

.navbar {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
    height: 60px;
    padding: 10px 40px;
}

.navbar a {
    text-decoration: none;
    color: firebrick;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: darkred;
}

.levo {
    background: url("./images/poz.png") no-repeat;
    background-size: contain;
    width: 1200px;
    height: 1104px;
    margin: 90px 0 40px 0;
    color: darkred;
    line-height: 1.6;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 40px 0 0 0;
    position: relative;
}
.levo1 {
    position: absolute;
    top: 60px;
    left: 110px;
    width: 90%;
    font-size: 35px;
    line-height: 1.6;}
footer {
    background-color: blanchedalmond;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: darkred;
    margin-top: 1500px;
}

.r{ background: url("./images/posledna.jpg") no-repeat;
    background-size: contain;
    width: 800px;
    height: 800px;
    margin-left: 1300px;
    margin-top: -1215px;
color:transparent;

}




footer {
    background-color: blanchedalmond;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: darkred;
    margin-top: 200px;
}.contact-form {
     width: 600px;
     margin: 60px auto;
     padding: 40px;
     background-color: #fffaf0;
     border: 2px solid #deb887;
     border-radius: 12px;
     box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
     font-family: Arial, sans-serif;
     font-size: 18px;
 }

.contact-form h2 {
    text-align: center;
    color: darkred;
    margin-bottom: 30px;
    font-size: 28px;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    color: firebrick;
    font-weight: bold;
    font-size: 18px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 22px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    background-color: #fff;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    background-color: firebrick;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: darkred;
}

